.feedbackList {
  display: flex;
  padding: 0;
}

.feedbackItem {
  list-style: none;
}

.feedbackItem:not(:last-child) {
  margin-right: 15px;
}

.feedbackButton {
  padding: 8px;
  min-width: 80px;
  border-radius: 10px;
  background-color: rgba(182, 250, 239, 0.61);
  border-color: rgb(134, 134, 255);
}

.feedbackButton:hover {
  background-color: rgba(237, 255, 155, 0.61);
}
